    #id1{
      text-align: center;
      background-color: orange;
      color: darkblue;
      padding: 10px 10px 10px 10px;
      border-radius: 25px 1px 25px 1px;


    }

    ul{
      color: whitesmoke;
      font-size: 15px;
      vertical-align: middle;
    }

    li {
      padding: 0;
      vertical-align: middle;
      list-style-image: url("img09.png") ;


      
    }
